.*/
.*.*

_ignore/
node_modules/
local_modules/
gen/
cache/
dist/
bin/
logs/
temp/

/packages/*/lib/
/packages/*/utils/
/packages/*/imports/

*.cache*
*.*.map
*.min.*
*.tmp
*.bak
*.log
*.zip
*.tgz
*.exe

package-lock.json
yarn.lock
*.tsbuildinfo

.DS_Store*
.Spotlight-V*
.Trashes
[Tt]humbs.db
ehthumbs.db

!/.github/
!.storybook/
!/packages/imports/dev_modules/min_modules/**/*

# !_exclude
# !_local_modules/**/*
# !*/*.zip
